<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div [class]="contractionStarted ? 'contraction' : 'background'">
    <svg
      class="thelight"
      width="100%"
      height="100%"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <defs>
        <linearGradient id="fadeToWhite" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="black" />
          <stop offset="100%" stop-color="white" />
        </linearGradient>

        <linearGradient id="lighter" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="black" #startStop>
            <animate
              attributeName="stop-color"
              from="black"
              to="white"
              dur="1s"
              fill="freeze"
              begin="indefinite"
              id="startStopAnim"
            />
          </stop>
          <stop offset="100%" stop-color="white" />
        </linearGradient>
      </defs>

      <filter
        id="softEdges"
        x="-20%"
        y="-20%"
        width="140%"
        height="140%"
        color-interpolation-filters="sRGB"
      >
        <feGaussianBlur stdDeviation=".3" />
      </filter>
      <polygon
        (click)="onLightClick($event)"
        points="0,20 50,51 50,49 10,0 0, 0"
        [attr.fill]="contractionStarted ? 'url(#lighter)' : 'url(#fadeToWhite)'"
        filter="url(#softEdges)"
      />
    </svg>
    <svg
      viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid meet"
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      "
    >
      <filter
        id="softCircle"
        x="-20%"
        y="-20%"
        width="140%"
        height="140%"
        color-interpolation-filters="sRGB"
      >
        <feGaussianBlur stdDeviation=".3" />
      </filter>
      <circle
        (click)="onLightClick($event)"
        cx="50"
        cy="50"
        r="1"
        fill="white"
        filter="url(#softCircle)"
      />
    </svg>
    <span>welcome to the world</span>
  </div>
</main>

<router-outlet />
